*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
}
html,body
{
  height: 100vh;
}
html
{
  background: linear-gradient(to right, #19003c 24%,#000000 51%,#19003c 80%,#19003c 80%);
}
h1
{
  font-family: Roboto;
  font-size: 48px;
  color: Black;
  font-style: Italic ;
}
h2
{
  font-family: Roboto;
  font-size: 36px;
}
h3
{
  font-family: Roboto;
  font-size: 16px;
  font-style: Bold ;
}

#container
{
  height: 100vh;
  width: 1024px;
  padding: 40px 50px;
	margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_block
{
  /* display: block; */
  padding-right: 20px; 
}

.title_title
{
  color: #FF0093;
  width: 255px;
  padding-bottom: 24px;
}

.title_subtitle
{
  background: #8000FF;
  padding: 4px 16px;
  color: #250060;
  width: 148px;
  height: 27px;
}

.title_nowlevel
{
  color:#8000FF;
  text-decoration: underline;
  width: 200px;
  padding-top: 8px;
}

.title_nowlevel> h2
{
  color:#FFFFFF;
}

.title_nowlevelimg
{
  padding-top: 24px;
  padding-bottom: 15px;
  width: 300px;
}

.title_talk
{
  width: 300px;
  line-height: 24px;
  padding: 40px 33px;
  color: #FFFFFF;
  border: solid #FF0093 2px;
}

.title_talk__impotant
{
  color:#D10079;
}

.skill_block
{
  display: flex;
  width: 305px;
}

.skill_block_right
{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.skill_basics_img
{
  margin-right: 12px;
}

.skill_category
{
  width: 60px;
  color: #FFFFFF;
  margin-right: 4px; 
}

.skill_item_icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #ffffff1d;
  border: #FF009300 solid 2px;
  cursor: pointer;
  transition: all 0.5s;
}

.skill_item_icon__clicked
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: #6900D1;
  border: #FF0093 solid 2px;
  transition: all 0.3s;
}

.skill_item_icon>i,.skill_item_icon__clicked>i
{
  font-size: 33px;
}

.skill_item_detail
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill_item_detail > div
{
  line-height: 24px;
}

.skill_item_detail >div:nth-child(1)
{
  margin-top: 4px;
}

.skill_item_detail >div:nth-child(2)
{
  margin-bottom: 8px;
}

.skill_item_detail >div>*
{
  font-size: 14px;
}

.detail_top
{
  justify-content: center;
  width: 300px;
  background: #8000FF;
  color:#FFFFFF;
}

.detail_top > i
{
  width: 100%;
  padding-top: 40px;
  font-size: 130px;
  text-align: center
}
.detail_top > div
{
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 24px;
  text-align: center;
}

.detail_bottom
{
  padding:95px 0 95px 0;
  background: #6900D1;
  color: #FFFFFF;
}

.detail_bottom > i
{
  padding-top: 95px;
  width: 100%;
  text-align: center;
  font-size: 33px;
}
.detail_bottom > div
{
  text-align: center;
  font-size: 16px;
  line-height: 36px;
}

.detail_button
{
  width: 196px;
  margin: auto;
  border: #fff 2px solid;
  margin-bottom: 5px;
  cursor: pointer;
}