*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 24px;
}
body
{
    background: #F2F2F2;
}

.headerBar
{
    display: flex;
    align-items: center;
    background: #7828B4;
    height:92px
}

.headerBar-Logo
{
    margin-left: 78px;
}

.headerBar-searchBar
{
    width: 388px;
    margin-left: 17%;
    padding:5px;
    background: rgba(255,255,255,0);
    border: none;
    border-bottom: solid #ffffff 1px;
    font-family: Roboto-Italic;
    font-size: 20px;
    color: rgba(255,255,255,0.50);
}
.container
{
    display: flex;
    padding: 0 3.2%
}

.container-leftMenu
{
    width: 25%;
    height: 1000px;
    background: #ebebeb;
    border-left: solid;
}
.container-rightBlock
{
    width: 75%;
    height: 1000px;
    border-right: solid;
}