html body
{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_container
{
  height: 600px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  border: solid;
  background: #1469FF;
  overflow: hidden;
}

.sixcon
{
  position: absolute;
  top: 155px;
  z-index: 4;
  animation: sixconframe 6.2s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s forwards;
  transform-origin: 50% 60%;
}
.sixcon_top
{
  border-style: solid;
  border-width: 0 150px 240px 150px;
  border-color: transparent transparent #FF3C82 transparent;
}
.sixcon_down
{
  position: absolute;
  top:50px;
  border-style: solid;
  border-width: 240px 150px 0 150px;
  border-color: #FF3C82 transparent transparent transparent;
}

.circle
{
  position: absolute;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background: #0027C8;
  z-index: 3;
  animation: circleframe 6.2s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s forwards ;
}

.rect
{
  position: absolute;
  width: 360px;
  height: 360px;
  background: #000;
  z-index: 2;
  animation: rectframe 6.2s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s forwards;
}

.text
{
  font-size: 50px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  z-index: 5;
}

.text2
{
  font-size: 20px;
  color: #FFFFFF;
  line-height: 22px;
  z-index: 5;
}


@keyframes sixconframe
{
0%   {transform:scale(1) rotate(0deg) ; }
85% {transform:scale(1) rotate(360deg);}
96% {transform:scale(1);}
100% {transform:scale(5);}
}

@keyframes rectframe
{
0%   {transform:scale(1) rotate(360deg); }
45%  {}
85%  {transform:scale(1) rotate(0deg);}
90%  {transform:scale(1);}
100% {transform:scale(5);}
}

@keyframes circleframe
{
  0%   {transform:scale(1);}
  20%  {transform:scale(1.1);}
  45%  {transform:scale(0.9);}
  85%  {transform:scale(1);}
  93%  {transform:scale(1);}
  100% {transform:scale(5);}
}
